/* cssmodules-pure-no-check * /
:global(.index_Button_xEUJ1U) {
  color: black;
}
:global(.index_Button__\$disabled_xEUJ1U) {
  opacity: 0.5;
}
:global(.index_Button__\$hasIcon_xEUJ1U) {
  padding-left: 30px;
}
:global(.index_Button__\$disabled_xEUJ1U-01) {
  color: gray;
}