.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  gap: 2rem;
}

.small {
  font-size: 0.8rem;
}

.large {
  font-size: 1.2rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.yellow {
  color: goldenrod;
}

.italic {
  font-style: italic;
}
